.header {
    background-color: #2d2d2d;
    width: 100%;
    height: 200px;
    top: 0;
}


.sidebar {
    margin-top: 20px;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    height: 100%;
    overflow: auto;
    border: 2px solid black;
}

/* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
    background-color: #2C2C2C;
    color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-top: -240px;
    margin-left: 220px;
    padding: 1px 16px;
    height: auto;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

.topdiv {
    height: 20px;
    background: lightgrey;
}

.topbutton {
    height: 16px;
    padding-top: 3px;
    *padding-top: 0;
    margin: 0 auto;
    text-align: right;
    position: relative;
}

.lang {
    color: #000 !important;
    float: right;
    font-size: 15px;
    font-weight: bold;
    height: 15px;
    text-align: center;
    margin-top: 2px;
    margin-right: 60px;
    text-decoration: none;
}

.lang:hover {
    text-decoration: none;
}

.top_banner {
    height: 120px;
    width: 100%;
    background-image: url('../images/bg.png');
}

.logo1 {
    margin-left: 120px;
}

.logo2 {
    float: right;
    margin-right: 100px;
    margin-top: -110px;
}

.banner_text {
    margin-top: -140px;
    text-align: center;
}

#header_text {
    color: #e0eff2;
    font: italic bold 30px Georgia, Serif;
    text-shadow: -2px 3px 0 #3a50d9, -5px 5px 0 #0a0e27;
}

.nav_bar {
    margin-right: 30px;
}

.nav_bar li a {
    color: white;
}

.nav_bar li a:hover {
    color: black;
}

.white {
    margin-top: 25px;
    color: whitesmoke;
    font-size: 18px;
}

.grey {
    background-color: #c8c8c8;
}

.dropdown {
    width: 150px;
    height: 35px;
    border-radius: 4px;
}

.table {
    height: auto;
    max-width: 1100px;
}

#sch {
    box-shadow: 5px 5px 4px 5px rgba(0, 0, 0, .6);
}

#search_in,
#session_in {
    font-weight: 600;
    border-radius: 4px;
}

.dropdown > option {
    font-weight: 600;
    font-size: 16px;
}

/* TABLE STYLE */
.tg {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
.tg1 {
    border-collapse: collapse;
    border-spacing: 0;
    width: 400px;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 20px;
    word-break: normal;
    border-bottom: 1px solid black;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.tg-q9j0 {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    overflow: hidden;
    word-break: normal;
}

.tg .tg-zaje {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif !important;
    text-align: left;
    vertical-align: top
}

@media screen and (max-width: 767px) {
    .tg {
        width: auto !important;
    }

    .tg col {
        width: auto !important;
    }

    .tg-wrap {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

/* TABLE STYLE ENDS */
#c_photo {
    height: 200px;
    width: 150px;
}

#red {
    color: red;
}

.info {
    text-align: center;
}

.inp {
    display: block;
    width: 250px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.inp1 {
    display: block;
    width: 70px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.inp2 {
    display: block;
    width: 80px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#changed {
    background-color: #edf2a9;
}

.f1,
.f2 {
    height: 710px;
    border: 2px solid black;
    box-shadow: 3px 3px 2px 3px rgba(0, 0, 0, .6);
    margin-bottom: 10px;
    border-radius: 9px;
}

.form-header {
    background-color: black;
}

.imp-text {
    height: 70px;
    width: 250px;
}

page,.page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
}


.page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
}

page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}

@media print {
    body,
    page,.page,.prn {
        box-shadow: 0;
        font-family: arial;
        font-style: normal;
        font-size: 13px;
        margin: 0;
    }
}
